.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px;
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}